ast-grep-cli==0.39.6
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.0
cobble==0.1.4
colorama==0.4.6
diff_cover==9.7.1
dotenv==0.9.9
Flask==3.1.2
gunicorn==23.0.0
idna==3.10
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
mammoth==1.11.0
MarkupSafe==3.0.3
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
python-docx==1.2.0
python-dotenv==1.1.1
PyYAML==6.0.3
regex==2025.10.23
requests==2.32.5
soupsieve==2.8
sqlfluff==3.5.0
tblib==3.2.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3
